<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DungeonMind</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="logo">
            <img src="/static/images/DungeonMindLogo.png" alt="DungeonMind Logo">
        </div>
        <ul>
            <li><a href="#apps">World Building Apps</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/auth/login" class="login-btn">Login</a></li>
        </ul>
    </nav>

    <!-- Main Section -->
    <section class="hero">
        <h1>Welcome to DungeonMind</h1>
        <p>Your gateway to creative world-building tools and resources.</p>
        <a href="#apps" class="cta-button">Explore Tools</a>
    </section>

    <!-- Web App Links -->
    <section id="apps">
        <h2>World Building Tools</h2>
        <div class="app-links">
            <a href="/storegenerator" class="app-card">Store Generator</a>
            <!-- <a href="/npcgenerator" class="app-card">NPC Generator</a>
            <a href="/mapcreator" class="app-card">Map Creator</a> -->
        </div>
    </section>

    <!-- Personal Website Link -->
    <section id="about">
        <h2>About Me</h2>
        <p>I'm a TTRPG and generative AI enthusiast becoming a full stack software developer.</p>
        <a href="https://huggingface.co/TheDrakosfire" class="cta-button">Visit My HuggingFace Spaces</a>
        <a href="https://github.com/Drakosfire" class="cta-button">Visit My GitHub</a>
        <a href="https://www.linkedin.com/in/alan-meigs/" class="cta-button">Visit My LinkedIn Profile</a>
    </section>

    <!-- Footer -->
    <footer id="contact">
        <p>&copy; 2024 DungeonMind. All rights reserved.</p>
        <p>Email: alan.meigs@gmail.com</p>
    </footer>
</body>

</html>